<!--<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h3 class="mb-4 text-center">Distancia entre dos puntos</h3>

        <div class="mb-3">
          <label for="x1" class="form-label">x1:</label>
          <input type="number" class="form-control" id="x1" [(ngModel)]="x1">
        </div>
        <div class="mb-3">
          <label for="y1" class="form-label">y1:</label>
          <input type="number" class="form-control" id="y1" [(ngModel)]="y1">
        </div>
        <div class="mb-3">
          <label for="x2" class="form-label">x2:</label>
          <input type="number" class="form-control" id="x2" [(ngModel)]="x2">
        </div>
        <div class="mb-3">
          <label for="y2" class="form-label">y2:</label>
          <input type="number" class="form-control" id="y2" [(ngModel)]="y2">
        </div>

        <button class="btn btn-primary mt-10" (click)="calcular()">calculo</button>

        <h4 class="mt-4">La distancia entre los dos puntos es: {{ distancia | number:'1.2-2' }}</h4>
      </div>
    </div>
  </div>
</div>
-->


<form class="max-w-sm mx-auto">
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
    <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
  </div>
  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
    <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
  </div>
  <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
    </div>
    <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
  </div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>

