<div class="container mt-5">
  <div class="row text-center">
    <div class="col-4">
      <h4 class="mb-3">1ra. Banda</h4>
      <div class="d-flex flex-column align-items-center">
        <div class="form-check form-check-inline bg-negro">
          <input class="form-check-input" type="radio" name="banda1" value="negro" [(ngModel)]="color1Seleccionado">
          <label class="form-check-label">0</label>
        </div>
        <div class="form-check form-check-inline bg-cafe">
          <input class="form-check-input" type="radio" name="banda1" value="cafe" [(ngModel)]="color1Seleccionado">
          <label class="form-check-label">1</label>
        </div>
        <div class="form-check form-check-inline bg-rojo">
          <input class="form-check-input" type="radio" name="banda1" value="rojo" [(ngModel)]="color1Seleccionado">
          <label class="form-check-label">2</label>
        </div>
        <div class="form-check form-check-inline bg-naranja">
          <input class="form-check-input" type="radio" name="banda1" value="naranja" [(ngModel)]="color1Seleccionado">
          <label class="form-check-label">3</label>
        </div>
        <div class="form-check form-check-inline bg-amarillo">
          <input class="form-check-input" type="radio" name="banda1" value="amarillo" [(ngModel)]="color1Seleccionado">
          <label class="form-check-label">4</label>
        </div>
        <div class="form-check form-check-inline bg-verde">
          <input class="form-check-input" type="radio" name="banda1" value="verde" [(ngModel)]="color1Seleccionado">
          <label class="form-check-label">5</label>
        </div>
        <div class="form-check form-check-inline bg-azul">
          <input class="form-check-input" type="radio" name="banda1" value="azul" [(ngModel)]="color1Seleccionado">
          <label class="form-check-label">6</label>
        </div>
        <div class="form-check form-check-inline bg-violeta">
          <input class="form-check-input" type="radio" name="banda1" value="violeta" [(ngModel)]="color1Seleccionado">
          <label class="form-check-label">7</label>
        </div>
        <div class="form-check form-check-inline bg-gris">
          <input class="form-check-input" type="radio" name="banda1" value="gris" [(ngModel)]="color1Seleccionado">
          <label class="form-check-label">8</label>
        </div>
        <div class="form-check form-check-inline bg-blanco">
          <input class="form-check-input" type="radio" name="banda1" value="blanco" [(ngModel)]="color1Seleccionado">
          <label class="form-check-label">9</label>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h4 class="mb-3">2da. Banda</h4>
      <div class="d-flex flex-column align-items-center">
        <div class="form-check form-check-inline bg-negro">
          <input class="form-check-input" type="radio" name="banda2" value="negro" [(ngModel)]="color2Seleccionado">
          <label class="form-check-label">0</label>
        </div>
        <div class="form-check form-check-inline bg-cafe">
          <input class="form-check-input" type="radio" name="banda2" value="cafe" [(ngModel)]="color2Seleccionado">
          <label class="form-check-label">1</label>
        </div>
        <div class="form-check form-check-inline bg-rojo">
          <input class="form-check-input" type="radio" name="banda2" value="rojo" [(ngModel)]="color2Seleccionado">
          <label class="form-check-label">2</label>
        </div>
        <div class="form-check form-check-inline bg-naranja">
          <input class="form-check-input" type="radio" name="banda2" value="naranja" [(ngModel)]="color2Seleccionado">
          <label class="form-check-label">3</label>
        </div>
        <div class="form-check form-check-inline bg-amarillo">
          <input class="form-check-input" type="radio" name="banda2" value="amarillo" [(ngModel)]="color2Seleccionado">
          <label class="form-check-label">4</label>
        </div>
        <div class="form-check form-check-inline bg-verde">
          <input class="form-check-input" type="radio" name="banda2" value="verde" [(ngModel)]="color2Seleccionado">
          <label class="form-check-label">5</label>
        </div>
        <div class="form-check form-check-inline bg-azul">
          <input class="form-check-input" type="radio" name="banda2" value="azul" [(ngModel)]="color2Seleccionado">
          <label class="form-check-label">6</label>
        </div>
        <div class="form-check form-check-inline bg-violeta">
          <input class="form-check-input" type="radio" name="banda2" value="violeta" [(ngModel)]="color2Seleccionado">
          <label class="form-check-label">7</label>
        </div>
        <div class="form-check form-check-inline bg-gris">
          <input class="form-check-input" type="radio" name="banda2" value="gris" [(ngModel)]="color2Seleccionado">
          <label class="form-check-label">8</label>
        </div>
        <div class="form-check form-check-inline bg-blanco">
          <input class="form-check-input" type="radio" name="banda2" value="blanco" [(ngModel)]="color2Seleccionado">
          <label class="form-check-label">9</label>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h4 class="mb-3">3ra. Banda Multiplicador</h4>
      <div class="d-flex flex-column align-items-center">
        <div class="form-check form-check-inline bg-negro">
          <input class="form-check-input" type="radio" name="banda3" value="negro" [(ngModel)]="color3Seleccionado">
          <label class="form-check-label">x1</label>
        </div>
        <div class="form-check form-check-inline bg-cafe">
          <input class="form-check-input" type="radio" name="banda3" value="cafe" [(ngModel)]="color3Seleccionado">
          <label class="form-check-label">x10</label>
        </div>
        <div class="form-check form-check-inline bg-rojo">
          <input class="form-check-input" type="radio" name="banda3" value="rojo" [(ngModel)]="color3Seleccionado">
          <label class="form-check-label">x100</label>
        </div>
        <div class="form-check form-check-inline bg-naranja">
          <input class="form-check-input" type="radio" name="banda3" value="naranja" [(ngModel)]="color3Seleccionado">
          <label class="form-check-label">x1000</label>
        </div>
        <div class="form-check form-check-inline bg-amarillo">
          <input class="form-check-input" type="radio" name="banda3" value="amarillo" [(ngModel)]="color3Seleccionado">
          <label class="form-check-label">x10000</label>
        </div>
        <div class="form-check form-check-inline bg-verde">
          <input class="form-check-input" type="radio" name="banda3" value="verde" [(ngModel)]="color3Seleccionado">
          <label class="form-check-label">x100000</label>
        </div>
        <div class="form-check form-check-inline bg-azul">
          <input class="form-check-input" type="radio" name="banda3" value="azul" [(ngModel)]="color3Seleccionado">
          <label class="form-check-label">x1000000</label>
        </div>
        <div class="form-check form-check-inline bg-violeta">
          <input class="form-check-input" type="radio" name="banda3" value="violeta" [(ngModel)]="color3Seleccionado">
          <label class="form-check-label">x10000000</label>
        </div>
        <div class="form-check form-check-inline bg-gris">
          <input class="form-check-input" type="radio" name="banda3" value="gris" [(ngModel)]="color3Seleccionado">
          <label class="form-check-label">x100000000</label>
        </div>
        <div class="form-check form-check-inline bg-blanco">
          <input class="form-check-input" type="radio" name="banda3" value="blanco" [(ngModel)]="color3Seleccionado">
          <label class="form-check-label">x1000000000</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-8">
      <div class="text-center">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="tolerancia" value="dorado" [(ngModel)]="toleranciaSeleccionada">
          <label class="form-check-label bg-dorado">Dorado 5%</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="tolerancia" value="plata" [(ngModel)]="toleranciaSeleccionada">
          <label class="form-check-label bg-plata">Plata 10%</label>
        </div>
        <button class="btn btn-primary ms-3" (click)="calcular()">Calcular</button>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Color1</th>
            <th>Color2</th>
            <th>Color3</th>
            <th>Tolerancia</th>
            <th>Valor</th>
            <th>Valor Máximo</th>
            <th>Valor Mínimo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td [ngClass]="'bg-' + color1Seleccionado">{{ color1Seleccionado }}</td>
            <td [ngClass]="'bg-' + color2Seleccionado">{{ color2Seleccionado }}</td>
            <td [ngClass]="'bg-' + color3Seleccionado">{{ color3Seleccionado }}</td>
            <td [ngClass]="'bg-' + toleranciaSeleccionada">{{ toleranciaSeleccionada }}</td>
            <td>{{ valorResistencia | number }}</td>
            <td>{{ valorMaximo | number }}</td>
            <td>{{ valorMinimo | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
